body {
  background-color: #f4f5f7;
}

h1,
h2,
h3,
h4 {
  font-weight: 600;
}

.navbar-brand {
  font-weight: 700;
}

.container {
  max-width: 960px;
}

table td, table th {
  color: #000 !important;
}

/* ========== DARK MODE ========== */
.dark-mode {
  background-color: #1f1f1f !important;
  color: #e6e6e6 !important;
}

.dark-mode .navbar {
  background-color: #000 !important;
}

.dark-mode .table {
  color: #fff !important;
  background-color: #2a2a2a !important;
}

.dark-mode .table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #333 !important;
}

.dark-mode .form-control,
.dark-mode .form-select {
  background-color: #2b2b2b;
  color: #fff;
  border-color: #444;
}

.dark-mode .btn-light {
  background-color: #555 !important;
  color: #fff !important;
}

.navbar .btn-sm {
  padding: 4px 10px !important;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#themeToggle {
  width: 32px;  /* tam kare buton */
  padding: 0 !important;
}
